#toppart_wrap {
  background-image: url("./img/round_v_2.png");
  background-position: 280px -200px;
  background-size: 75%;
  background-repeat: no-repeat;
  width: 100%;
  height: 780px;
  margin-bottom: -40px;
}

.button1 {
  text-align: center;
}
.button2 {
  text-align: center;
}

/*------ circle animation ------- */

.circle-animation {
  display: flex;
  text-align: center;
  justify-content: center;
  min-height: 0;
  margin-left: 620px;
}

.ring {
  position: absolute;
  width: 350px;
  height: 350px;
  margin-top: -270px;
  margin-right: -80px;
  border-radius: 50%;
  animation: ring 3s linear infinite;
}

@keyframes ring {
  0% {
    transform: rotate(0deg);
    box-shadow: 1px 3px 1px white;
  }
  100% {
    transform: rotate(360deg);
    box-shadow: 1px 3px 1px white;
  }
}

.round img {
  height: 380px;
  width: 380px;
  margin-left: 99%;
  margin-top: -70%;
}

.model img {
  height: 530px;
  width: 630px;
  margin-left: -78%;
  margin-top: -55%;
  position: relative;
}
.cardid {
  margin-top: -94px;
  background-image: url("./img/bg_3.png");
  background-size: 100%;
  background-position: center bottom;
  height: 100vh;
  background-repeat: no-repeat;
}
#type-text {
  margin-top: 14%;
}

/* --------------media query for responsive------------------------------- */

@media only screen and (min-width: 1400px) {
  #toppart_wrap {
    width: 1320px;
    margin: auto;
    background-position: 235px -200px;
  }
}

@media only screen and (max-width: 1200px) {
  #toppart_wrap {
    background-position: 240px -180px;
    width: 1040px;
    margin: auto;
  }

  .ring {
    position: absolute;
    width: 350px;
    height: 350px;
    margin-top: -270px;
    margin-right: 115px;
    border-radius: 50%;
    animation: ring 3s linear infinite;
  }

  @keyframes ring {
    0% {
      transform: rotate(0deg);
      box-shadow: 1px 3px 1px white;
    }
    100% {
      transform: rotate(360deg);
      box-shadow: 1px 3px 1px white;
    }
  }

  .round img {
    height: 380px;
    width: 380px;
    margin-left: 74%;
    margin-top: -70%;
  }

  .model img {
    height: 530px;
    width: 630px;
    margin-left: -109%;
    margin-top: -55%;
    position: relative;
  }

  .button1 {
    width: 150px;
  }
}
@media screen and (max-width: 992px) {
  #toppart_wrap {
    /* overflow: hidden; */
    background-image: url("./img/round_v_2.png");
    background-position: 188px -125px;
    width: 800px;
    background-repeat: no-repeat;
  }

  .circle-animation {
    display: flex;
    text-align: center;
    justify-content: center;
    min-height: 0;
    /* margin-left: 620px; */
  }

  .ring {
    position: absolute;
    width: 300px;
    height: 300px;
    margin-top: -270px;
    margin-right: 140%;
    border-radius: 50%;
    animation: ring 3s linear infinite;
  }

  @keyframes ring {
    0% {
      transform: rotate(0deg);
      box-shadow: 1px 3px 1px white;
    }
    100% {
      transform: rotate(360deg);
      box-shadow: 1px 3px 1px white;
    }
  }

  .round img {
    height: 300px;
    width: 300px;
    margin-left: 2% !important;
    margin-top: -88% !important;
  }

  .model img {
    height: 400px;
    width: 430px;
    margin-left: -195%;
    margin-top: -74%;
    position: relative;
  }

  .button1 {
    font-size: 10px;
    width: 110px;
  }
  .button2 {
    font-size: 10px;
    width: 120px;
  }

  #type-text {
    margin-top: 20px;
  }
}
/* -----------------------------for mobile device--------------------------------- */
@media screen and (max-width: 768px) {
  #toppart_wrap {
    overflow: hidden;
    width: 598px;
    margin: auto;
    height: 490px;
    background-position: 165px -80px;
  }

  .ring {
    position: absolute;
    width: 240px;
    height: 240px;
    margin-top: -220px;
    margin-right: 175%;
    border-radius: 50%;
    animation: ring 3s linear infinite;
  }

  @keyframes ring {
    0% {
      transform: rotate(0deg);
      box-shadow: 1px 3px 1px white;
    }
    100% {
      transform: rotate(360deg);
      box-shadow: 1px 3px 1px white;
    }
  }

  .round img {
    height: 230px;
    width: 230px;
    margin-left: -205% !important;
    margin-top: -88% !important;
  }

  .model img {
    height: 310px;
    width: 380px;
    margin-right: 120%;
    margin-top: -65%;
    position: relative;
  }

  .button1 {
    width: 120px;
  }

  #type-text {
    margin-top: 20px;
  }
}

@media screen and (max-width: 576px) {
  #toppart_wrap {
    margin-bottom: 25px;
    height: 643px;
    background-size: 170%;
    background-color: #c6da9d;
    background-position: -220px 137px;
    margin-bottom: 80px;
  }

  .circle-animation {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    min-height: 0;
    margin-left: 25px;
    margin-top: 20px;
  }

  .ring {
    position: absolute;
    width: 240px;
    height: 240px;
    border-radius: 50%;
    margin-top: 0px;
    margin-left: 147%;
    animation: ring 3s linear infinite;
  }

  @keyframes ring {
    0% {
      transform: rotate(0deg);
      box-shadow: 1px 3px 1px white;
    }
    100% {
      transform: rotate(360deg);
      box-shadow: 1px 3px 1px white;
    }
  }
  .model img {
    height: 350px;
    width: 400px;
    position: relative;
    margin-top: 28px;
    margin-right: -75px;
  }

  .round img {
    height: 260px;
    width: 260px;
    margin-left: 38% !important;
    margin-top: 14% !important;
  }

  #we-do,
  #we-doI {
    font-size: 30px !important;
  }
}
